<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Dependency Injection in Angular</h1>
		</div>
		<div class="spacer"></div>
		<div class="col-12">
			<p>Clicking the button will show a notification. This would require lots of code, but it is made super easy by dependency injection!</p>

			<p>Checkout the library used in this example <a href="https://github.com/matowens/ng-notify">here (ngNotify)</a>.</p>

			<div class="form-group">
				<button class="btn btn-success" ng-click="showNotification()">Show notification!</button>
			</div>
		</div>
	</div>
</div>