<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Angular directives</h1>
		</div>
		<div class="spacer"></div>
		<div class="col-12">
			<h2>ng-repeat</h2>
			<ul>
				<li ng-repeat="firstName in names track by $index">
					{{$index + " " + firstName}}
				</li>
			</ul>

			<h3>Adding elements to the list</h3>
			<div class="form-group">
				<label for="exampleInputEmail1">Name to add to the list</label>
				<input type="text" class="form-control" placeholder="Enter name to add" ng-model = "name">
				<!-- Modify this to add the proper functionality -->
			</div>
			<div class="form-group">
				<button class="btn btn-success" ng-click = "addName()" >Add</button>
				<!-- Modify this to add the proper functionality -->
			</div>
		</div>
		<div class="spacer"></div>
		<div class="col-12">
			<h2>Angular ng-show, ng-hide and ng-if</h2>
			<div class="alert alert-primary" ng-show="showAlert" role="alert">
			  Alert with <pre>ng-show="showAlert"</pre>
			</div>
			<div class="alert alert-success" role="alert" ng-hide="showAlert">
			  Alert with <pre>ng-hide="showAlert"</pre>
			</div>
			<div class="alert alert-danger" role="alert" ng-if="showAlert">
			  Alert with <pre>ng-if="showAlert"</pre>
			</div>
			<p>Show alert: {{showAlert}}</p>
			<div class="form-group">
				<button class="btn btn-success" ng-click="toggleShowAlert()">Toggle show alert</button>
			</div>
		</div>
	</div>
</div>